List show page, display Tasks

<h1>
  <%= @list.name %> >> Tasks
</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.name, project_list_task_path(@project, @list, task)%>
    </li>
  <% end %>
</ul>


<%= link_to 'Back', :back %>
