Task show page, display Notes

<h1>
  <%= @task.name %> >> Notes
</h1>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= note.comment %>
    </li>
  <% end %>
</ul>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>

<%= link_to 'Back', :back %>
